# Rust
target/
src-tauri/target/
src-tauri/gen/

# Node/JS Frontend
node_modules/
dist/
build/
.env
.env.local
.env.*.local

# IDEs / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Agent/AGY Customizations
.agents/
skills-lock.json

# Temporary/Test Palworld files
*.test.json
*.test_both.json
*.sav_cli.json
*.tmp.json
Player_*.json
Level.*.json

# Project Plan
plan_proyecto_palworld_tauri.md

# Added by cargo

/target
oo2core_9_win64.dll
out.txt

